[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# pipfile = "*"
# click = "*"
# playsound = "*"
# pretty-errors = "*"
pylarm = {path = "."}
psutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
